	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<span>You deserved happiness</span>
					<h2>Happy Clients</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				{% assign sorted = site.testimonials | sort:"order_num" %}
				{% for item in sorted %}
				{% if item.active == true %}
				{% cycle '<div class="col-md-6 animate-box">', '' %}
					<div class="testimonial {% if item.selected %}fh5co-selected{% endif %}">
						<blockquote>
							<p>&ldquo;{{ item.description }}&rdquo;</p>
							<p class="author"> <img src="{{ item.image_url }}" alt="{{ item.title }}"> <cite>&mdash; {{ item.title }}</cite></p>
						</blockquote>
					</div>
				{% cycle '', '</div>' %}
				{% endif %}
				{% endfor %}

			</div>
		</div>
	</div>